#home {
    position: relative;
    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 6rem 2rem 0;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }
    @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding-top: 10rem;
    }
    @media screen and (max-width: 400px) {
        padding: 10rem 1rem 2rem;
    }
}

.app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    margin-inline: 3rem;
    margin-bottom: 7rem;

    @media screen and (max-width: 600px) {
        margin: 0;
    }

    @media screen and (max-width: 2000px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.app__header-badge {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .badge-cmp {
        padding: 1rem 2.5rem;
        border: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        color: var(--white-color);
        font-family: var(--font-family);
    }
    .btn__wrapper {
        display: flex;
        gap: 20px;
        .btn-cmp {
            margin-top: 1.5rem;
            border-radius: 15px;
            padding: 1rem 2rem;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            @media screen and (max-width: 400px) {
                padding: 1rem 1.5rem;
            }
            a {
                color: var(--white-color);
                text-decoration: none;
            }
        }
        .btn-cmp:nth-child(1) {
            background: var(--secondary-color);
            outline: none;
            border: none;
            @media screen and (max-width: 391px) {
                margin-left: 3rem;
            }
            @media screen and (min-width: 391px) and (max-width: 620px) {
                margin-left: 2rem;
            }
            
        }
        .btn-cmp:nth-child(2) {
            background: transparent;
            cursor: pointer;
            border: 2px solid var(--secondary-color);
        }
    }

    span {
        font-size: 2.5rem;

        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;

    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        background: var(--tertiary-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

        img {
            width: 60%;
            height: 60%;
        }
    }

    div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    div:nth-child(2) {
        margin: 1.75rem;
        width: 150px;
        height: 150px;
    }

    div:nth-child(3) {
        width: 70px;
        height: 70px;
    }

    @media screen and (min-width: 2000px) {
        div:nth-child(2) {
            width: 400px;
            height: 400px;
        }

        div:nth-child(3) {
            width: 170px;
            height: 170px;
        }

        div:nth-child(1) {
            width: 200px;
            height: 200px;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;

        div {
            margin: 1rem;
        }
    }
}

.app__header-img {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img {
        width: 100%;
        object-fit: contain;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4));
    }

    @media screen and (max-width: 1200px) {
        margin-top: 2rem;
    }
}
